<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>22D6450D-6A61-4A2F-8197-874687F3AC64</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.AppleTV-1080p</string>
	<key>isDeleted</key>
	<false/>
	<key>isEphemeral</key>
	<false/>
	<key>name</key>
	<string>IBAppleTVSimDeviceType1080p</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.tvOS-13-2</string>
	<key>runtimePolicy</key>
	<string>Latest</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
